@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  overflow: hidden;
}

.main {
  width: 100%;
  overflow: hidden;


}
.main-img-cont {
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
 
}
.main-img-cont img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
 

}
.wrapper {
  margin: 0 auto;

  width: 39rem;

  margin-top: 9rem;
  background: linear-gradient(
    to right bottom,
    rgba(115, 115, 116, 0.7),
    rgba(0, 0, 0, 0.3));

 
}

.button-cont {
  display: flex;
  justify-content: space-between;
 
  padding: 20px;
}
button {
  width: 130px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(8, 8, 8, 0.3));
    border-radius:5px ;

}
.author {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.author p {
  color: #fff;
  font-size: 20px;
  font-family: 'Yellowtail', cursive;
}
.text-cont {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}
.text-cont h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}